.header {
    
    grid-area: head;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.title {
    font-size: 11vw;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.search, .select {
    width: 90%;
}

.search {
    margin-bottom: 1rem;
}

@media (min-width:900px) {
    .header {
        height: 35vh;
    }

    .title {
        font-size: 7vw;
    }

    .inputs {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }

    .search, .select {
        width: 40%;
    }
    
}