.App {
  box-sizing: border-box;
  height: 100%;
  transition: all 0.5s linear;
  /*background-color: #282c34;
  color: #fff;*/
}

.container {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, 70px) minmax(200px, 250px) 400px;
  grid-template-areas: 'dark'
                       'head'
                       'mean';
  row-gap: 20px;
  position: relative;
  /*flex-direction: column;
  justify-content:space-evenly;*/
}

.dark-mode {
  grid-area: dark;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.2rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sw-label {
  font-family: 'Montserrat', sans-serif;
}

